<html>

<head>
    <title>CS 642 :: Practice Form </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,500' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Ubuntu&display=swap" rel="stylesheet">
    
    <link href='./css/index.css' rel='stylesheet' type='text/css'>
</head>

<body>
    <nav class="navbar navbar-light" style='background-color: white;'>
        <div class ="row" style="padding-top: 0px; padding-bottom: 0px; padding-left: 110px;">
            <h1> Form Project</h1>
        </div>

        <div class ="row" style="padding-top: 0px; padding-bottom: 0px; padding-left: 50px; padding-right: 30px;">
            <h5> Tristan Mclennan - CSC642 Summer 2019</h5>
        </div>
    </nav>

    
    <div class="container-fluid" style="margin-top: 20px;margin-bottom: 20px;" id="form-container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                

            <div class="card card-inverse" style="background-color:#fffbf6; border-color: white;
                        padding-top: 50px; padding-right: 70px;padding-bottom: 50px;padding-left: 70px;">
                <div class="card-block"> 

                <div class='header' style="text-align: center; margin-bottom: 30px">
                    <h3>Please enter the following information below:</h3>
                </div>
                <hr><br>

                <form id="contact-form" action="/" method="post" role="form">

                    <div class="controls">
                         <div class="row">
                            <div class="col-lg-8"> 
                                <div class="form-group">
                                    <div class="col-xs-1">
                                        <label for="form_name">First Name *</label>
                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter first name" required="required"
                                            data-error="First name is required." pattern="[a-zA-Z]+" 
                                            title='First name should only contain letters' maxlength="40">
                                        <div class="help-block with-errors"></div>
                                    </div>                                  
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="form_lastname">Last Name *</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter last name" required="required"
                                        data-error="Last name is required." pattern="[a-zA-Z]+" title="Last name should only contain letters." maxlength="40">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <hr> 

                        <div class="row">
                            <div class="col-lg-8">
                                 <div class="form-group">
                                     <label for="address">Street Address *</label>
                                    <input id="form_address" type="text" name="street" class="form-control" placeholder="1234 Main st." 
                                            pattern ="\d{1,5}(\s\w+)+([A-Za-z]{1,3}\.)?" required="required" 
                                            title="Please enter a valid street address." maxlength="40">
                                    <div class="help-block with-errors"></div>
                                </div>

                                    <div class="form-group">
                                            <label for="city">City *</label>
                                            <input id="city" type="text" name="city" class="form-control" placeholder="Please enter city" required="required"
                                                data-error="City is required." pattern="^[a-zA-Z',.\s-]{1,40}$" 
                                                title='Please enter a valid city name.' maxlength="40">
                                            <div class="help-block with-errors"></div>
                                    </div>

                                    <!-- pattern="[a-zA-Z]+(\s[a-zA-Z])?" -->

                                    <div class="form-group row" style="margin-left:0px" >
                                            <div class="col-xs-1" style="margin-right:70px">
                                               <label for="address">State *</label>
                                               <select class="form-control" id="state" name="state" required='required'></select>
                                           </div> 

                                           <div class="col-xs-1" >
                                                <label for="zip">Zip Code *</label>
                                                <input class="form-control" type="text" type="text" pattern="[0-9]{5}"
                                                        title="Please enter a 5 digit zip code."
                                                        placeholder="XXXXX" id="zip" name="zip" 
                                                        required="required"
                                                        onfocus="validateState(document.getElementById('state'));"> 
                                                </input>
                                            </div>
                                    </div>    
                                </div>
                            </div>

                            <hr>

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="p1" type="email" name="email" class="form-control" placeholder="Please enter email" required="required"
                                        data-error="Valid email is required." maxlength="40">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>   

                        <div class="row">
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label for="verify_email">Confirm Email *</label> 
                                    <input id="verify_email" type="email" class="form-control" placeholder="Please re-enter email" required="required"
                                        data-error="Valid email is required." maxlength="40"
                                        onfocus="validateMail(document.getElementById('p1'), this);" 
                                        oninput="validateMail(document.getElementById('p1'), this);">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>   

                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <label for="form_phone">Phone *</label>
                                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="XXX XXX-XXXX" 
                                    pattern="^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$" required="required">
                                 
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <!-- oninvalid="setCustomValidity('Please enter a 10 digit phone number')" required="required"> -->
                        <hr>

                        <div class="form-group">
                            <div class="col-md-5" > 
                            <label for="education">Education Level</label>
                            <select class="form-control" id="education" name='education'>
                              <option selected disabled>Select One (Optional)</option>
                              <option>High School</option>
                              <option>College</option>
                              <option>Graduate School</option>
                              <option>Ph.D</option>
                            </select>
                          </div> 
                        </div>

                          <div class="form-group">
                                <div class="col-md-5" > 
                            <label for="income">Income</label>
                            <select class="form-control" id="income" name='income'>
                              <option selected disabled>Select One (Optional)</option> 
                              <option>less than $50K</option>
                              <option>between $50-100K</option>
                              <option>above $100K</option>
                            </select>
                          </div>
                        </div>

                        <hr>
                      
                        <div class="row">
                             <div class="col-lg-7" style="padding-left: 10px; margin-top: 5px;margin-bottom: 5px;"> 
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="6LcibK4UAAAAAOgmZZEIQLkmnBMGZD4bNLYfluys" data-callback="recaptchaCallback" required="required">  
                                      <!-- oninvalid="setCustomValidity('Please click on the re-captcha to verify humanity.')"  -->
                                        <!-- required="required">   -->
                                     </div> 
                                </div>    
                            </div> 

                            <div class="col-lg-7" style="padding-left: 10px;"> 
                                <div class="card border" style="height: 50px; width: 340; border-color: grey ">
                                    <div class="card-body shadow-none" style="
                                        padding-top: 8px;
                                        padding-bottom: 0px;
                                        padding-right: 10px;
                                        height: 40px;
                                        background-color:#F9F9F9;
                                        padding-left: 10px;
                                        ">
                                        <div class="form-group form-check" >
                                            <input class="form-check-input" type="checkbox" name="check" id="check" required="required"
                                            onclick="dropDownValidation();">
                                                <label for="check" class="form-check-label" style="justify-content: center">      
                                                        <p>
                                                            <span>I agree to all possible terms of service.</span>
                                                            <span style="color: #ff0000"> *</span>
                                                        </p>
                                                </label>
                                        </div>
                                    </div>
                                 </div>
                             </div> 

                        <div class="col-lg-6" style="padding-left: 5px; margin-top: 20px;">
                            <div class="form-group">
                                <input type="submit" class="btn btn-outline-primary btn-lg btn-send" 
                                       id="btn-validate" value="    Submit Form    "> 
                            </div>
                        </div>
                    </div>


                </form>
               </div>
             </div>

            </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->

    </div>
    <!-- /.container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/js/mdb.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>


    <!-- Populates the dropdown menu for State input: -->
    <script>
        const stateAbbreviations = [ 
            'AL','AK','AS','AZ','AR','CA','CO','CT','DE','DC','FM','FL','GA',
            'GU','HI','ID','IL','IN','IA','KS','KY','LA','ME','MH','MD','MA',
            'MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND',
            'MP','OH','OK','OR','PW','PA','PR','RI','SC','SD','TN','TX','UT',
            'VT','VI','VA','WA','WV','WI','WY'
        ];

        $('#state').empty();
        $('#state').append($('<option selected disabled></option>').val("").html("Choose One:"));
        $.each(stateAbbreviations, function(i, p) {
            $('#state').append($('<option></option>').val(p).html(p));
        });
    </script>
    

    <script>
        var button = document.getElementById("btn-validate");
        butt.addEventListener('click', dropDownValidation)
    
    </script>


    <script>
        function dropDownValidation() {

            var state = document.getElementById("state");
            var education = document.getElementById("eductation");
            var income = document.getElementById("income");

            if (state.value === 'Choose One:') {
                console.log('state is default')
                state.setCustomValidity("Invalid field.");
                state.removeClass("valid").addClass("invalid");
            } 
            if (education.value === 'Select One (Optional)') {
                console.log('education is default')
                education.setCustomValidity("Invalid field.");
                education.removeClass("valid").addClass("invalid");
            } 
            if (income.value === 'Select One (Optional)') {
                console.log('income is default')
                income.setCustomValidity("Invalid field.");
                income.removeClass("valid").addClass("invalid");
            } 
        }   
    
    </script>

    <!-- This is the email validation script: -->
    <script>        
            function validateMail(p1, p2) {
                if (p1.value != p2.value || p1.value == '' || p2.value == '') {
                    p2.setCustomValidity('email incorrect');
                } else {
                    p2.setCustomValidity('');
                }
            }
    </script>

    <script>        
        function validateState(dropdown) {
            console.log('selected element!')
            if (dropdown.value == 'Choose One') {
                console.log('incorrect state')
                dropdown.setCustomValidity("Invalid field.");
            } else {
                console.log('correct state')
                dropdown.setCustomValidity('');
            }
        }
    </script>

    <!-- This is the recaptcha validation script: -->
    <script>  
        function recaptchaCallback() {
             $('#hiddenRecaptcha').valid();
        };

        window.onload = function() {
            var $recaptcha = document.querySelector('#g-recaptcha-response');
            if($recaptcha) {
                $recaptcha.setAttribute("required", "required");
            }
        };
    </script>

</body>

</html>