<html>

<head>
    <title>CS 642 :: Practice Form </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,500' rel='stylesheet' type='text/css'>
    <link href='index.css' rel='stylesheet' type='css'>
</head>

<body>

    <div class="container" id="form-container">

        <div class="row">

            <div class="col-xl-8 offset-xl-2">

                <h1>- Form Practice -</h1>
                <br>
                <!-- <p class="lead">Please enter the data below:</p> -->


                <form id="contact-form" action="/" method="post" role="form">

                    <div class="controls">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="form_name">First Name *</label>
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter first name" required="required"
                                        data-error="First name is required." maxlength="40">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="form_lastname">Last Name *</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter last name" required="required"
                                        data-error="Last name is required." maxlength="40">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <hr> 

                        <!-- <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter email" required="required"
                                        data-error="Valid email is required." maxlength="40">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>   

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="verify_email">Confirm Email *</label> 
                                    <input id="verify_email" type="email" class="form-control" placeholder="Please re-enter email" required="required"
                                        data-error="Valid email is required." maxlength="40">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>    -->

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="form_phone">Phone *</label>
                                    <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="XXX XXX-XXXX" required="required">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Education Level</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Select One (Optional)</option>
                              <option>High School</option>
                              <option>College</option>
                              <option>Graduate School</option>
                              <option>Ph.D</option>
                            </select>
                          </div> 

                          <div class="form-group">
                            <label for="exampleFormControlSelect1">Income</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                              <option>Select One (Optional)</option>
                              <option>less than $50K</option>
                              <option>between $50-100K</option>
                              <option>above $100K</option>
                            </select>
                          </div>

                        <hr>
                        
                        <div class="row">
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LcibK4UAAAAAOgmZZEIQLkmnBMGZD4bNLYfluys" data-callback="checkRecaptcha"> </div> 
                                
                                <!-- data-expired-callback="expiredRecaptchaCallback"> -->

                                </div>
                                <input class="form-control d-none" data-recaptcha="true" data-error="Please complete the Captcha">
                                <div class="help-block with-errors"></div>
                            </div>

                            <!-- <input type="submit" class="btn btn-outline-primary btn-sm btn-send" value="Submit"> -->
                        </div>

                        <div class="row">
                            
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember" > I agree to all possible terms of service.
                                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                                </label>
                            </div>

                            <!-- <input type="submit" class="btn btn-outline-primary btn-send" value="Submit">  -->

                            <p class="text-muted" >
                                <strong style='color: red'>*</strong> These fields are required. 
                            </p>      
                        </div>

                        <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-outline-primary btn-send" value="Submit"> 
                                    </div>
                                </div>
                            </div>   
                        
                        <!-- <input type="submit" class="btn btn-outline-primary btn-sm btn-send" value="Submit"> 

                        <p class="text-muted">
                            <strong>*</strong> These fields are required. 
                        </p> -->

                    </div>

                </form>

            </div>
            <!-- /.8 -->

        </div>
        <!-- /.row-->

    </div>
    <!-- /.container-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <!-- <script src="validator.js"></script>
    <script src="contact.js"></script> -->

    <script> 
            function checkRecaptcha() {
              var response = grecaptcha.getResponse();
              if(response.length == 0) { 
                //reCaptcha not verified
                alert("no pass"); 
              }
              else { 
                //reCaptch verified
                alert("pass"); 
              }
            }

            function backend_API_challenge() {
                var response = grecaptcha.getResponse();
                $.ajax({
                    type: "POST",
                    url: 'https://www.google.com/recaptcha/api/siteverify',
                    data: {"secret" : "6LcibK4UAAAAACA6YxOtT0ftOweSbKTksHZBH0eh", "response" : response, "remoteip":"tmclennan-form-assignment.herokuapp.com"},
                    contentType: 'application/x-www-form-urlencoded',
                    success: function(data) { console.log(data); }
                });
            }
        </script>
</body>

</html>