<html>

<head>
    <title>CS 642 :: Form Results: </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,500' rel='stylesheet' type='text/css'>
    <link href='index.css' rel='stylesheet' type='css'> -->
</head>

<body>
    <div>
        <h2>Name: <%= results.name %> <%= results.surname %></h2>
        <h2>Phone: <%= results.phone %></h2>


    </div>
    <!-- <script src="ejs.js"></script> -->
</body>
</html>