* {
  box-sizing: border-box;
  overscroll-behavior: none;
}

body {
  background: #ffefd5;
  line-height: 1.6;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.row {
  padding: 5px;
}

hr {
  border: none;
  height: 2px;
  background-color: lightgrey;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.content {
  overflow-y: scroll;
}

.nav {
  font-family: Montserrat, sans-serif;
}

.result-container {
  background: #92bde7;
  color: #485e74;
}

#g-recaptcha-response {
  display: block !important;
  position: absolute;
  margin: -78px 0 0 0 !important;
  width: 302px !important;
  height: 76px !important;
  z-index: -999999;
  opacity: 0;
}

button .full-width {
  width: 100%;
  display: block;
}
